<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Introduction to Git</title>

		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/monokai.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h1>Introduction to Git</h1>
					<p>
						<small>Jonatan Lund</small>
					</p>
				</section>
				<section>
					<h2>What is Git?</h2>
					<ul>
						<li>Distributed</li>
						<li>Git is based on diffs</li>
						<li>Created by Linus Torvalds</li>
					</ul>
					<aside class="notes">
						- Open source source control management system <br>
						- Created by Linus Torvalds <br>
						- Distributed system <br>
						- Git is based on diffs <br>
					</aside>
				</section>
				<section>
					<h2>What is Github, Gitlab, Bitbucket</h2>
					<aside class="notes">
						Frontend on top of Git
					</aside>
				</section>
				<section>
					<h2>Setup SSH Keys</h2>
					<pre><code data-trim data-noescape>
# Generate SSH keys
ssh-keygen -t rsa -b 4096 -C "your_email@example.com"
# Start the ssh-agent in the background
eval "$(ssh-agent -s)"
# Add SSH private key to SSH agent
ssh-add ~/.ssh/id_rsa
# Get the public SSH key
cat ~/.ssh/id_rsa.pub
					</code></pre>
					<p>
						Commands taken from <a href="https://help.github.com/en/articles/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent">Github guide</a>
					</p>
				</section>
				<section>
					<h2>Add SSH Keys to Your Account</h2>
					<ul>
						<li><a href="https://gitlab.com/profile/keys">Gitlab</a></li>
						<li><a href="https://github.com/settings/keys">Github</a></li>
					</ul>
				</section>
				
				<section>
					<h2>Create a New Git Project</h2>
					<pre><code class="bash" data-trim data-noescape>
# Initialize git project
git init
# Add remote url
git remote add origin git@gitlab.com:jonatanl/git-course.git
					</code></pre>
					<p>
						To copy an existing project
					</p>
					<pre><code class="bash" data-trim data-noescape>
# SSH link
git clone git@github.com:torvalds/linux.git
# HTTPS link
git clone https://github.com/torvalds/linux.git
					</code></pre>
				</section>
				<section>
					<h2>Workflow</h2>
					<img data-src="images/trees.png">
					<p>
						<a href="https://rogerdudler.github.io/git-guide/">Image source</a>
					</p>
				</section>
				<section>
					<h2>Working Directory</h2>
					<img data-src="images/working-dir.png">
				</section>
				<section>
					<h2>Stage Changes</h2>
					<pre><code class="bash" data-trim data-noescape>
# Add .gitlab-ci.yml file to staged changes
git add .gitlab-ci.yml
					</code></pre>
				</section>
				<section>
					<h2>Staged Changes</h2>
					<img data-src="images/staged-changes.png">
				</section>
				<section>
					<h2>Stage Changes</h2>
					<pre><code class="bash" data-trim data-noescape>
# Commit the Gitlab CI file
git commit -m "Add gitlab CI file"
					</code></pre>
				</section>
				<section>
					<h2>Commited Changes</h2>
					<img data-src="images/commited-changes.png">
				</section>
				<section>
					<h2>Push changes to remote</h2>
					<pre><code class="bash" data-trim data-noescape>
# Push changes to remote and track remote master
git push -u origin master
					</code></pre>
				</section>
				<section>
					<h2>Branching Strategy</h2>
					<ul>
						<li>master</li>
						<li>develop</li>
						<li>feature branches</li>
						<li>bug fix branches</li>
					</ul>
					<aside class="notes">
						- master = test <br>
						- tagging master = prod <br>
						- develop = dev server <br>
					</aside>
				</section>
				<section>
					<img data-src="images/branching-strategy.png" style="max-height: 40vh;">
					<p>
						<a href="https://nvie.com/posts/a-successful-git-branching-model/">Image source</a>
					</p>
				</section>
				<section>
					<h2>Create New Branch</h2>
					<img data-src="images/branching.png">
					<p>
						<a href="https://rogerdudler.github.io/git-guide/">Image source</a>
					</p>
				</section>
				<section>
					<h2>Create New Branch</h2>
					<pre><code class="bash" data-trim data-noescape>
# Create new branch
git branch feature1
# Checkout feature1 branch
git checkout feature1
# Shortcut for the 2 commands above:
git checkout -b feature1
					</code></pre>
				</section>
				<section>
					<h2>Push New Branch to Remote</h2>
					<pre><code class="bash" data-trim data-noescape>
# Create new branch
git push -u origin feature1
					</code></pre>
				</section>
				<section>
					<h2>Merging</h2>
				</section>
				<section>
					<img data-src="images/merge.png">
					<p>
						<a href="https://www.atlassian.com/git/tutorials/using-branches/git-merge">Image source</a>
					</p>
				</section>
				<section>
					<h2>Merge Conflict</h2>
					<aside class="notes">
						- Show how to create a pull request<br>
					</aside>
				</section>
				<section>
					<h2>Pull Request</h2>
					<p>
						<a href="https://gitlab.com/jonatanl/git-course/merge_requests/1">Pull Request</a>
					</p>
				</section>
				<section>
					<h2>git pull</h2>
					<pre><code class="bash" data-trim data-noescape>
# git pull
git fetch
git merge
					</code></pre>
				</section>
				<section>
					<h2>git sync</h2>
					Not a real git command
					<pre><code class="bash" data-trim data-noescape>
# git sync
git pull
git push
				</code></pre>
				</section>
				<section>
					<h2>Gitignore</h2>
					<ul>
						<li>Add auto generated files you dont want to track</li>
						<li>Files containing secrets should be ignored</li>
						<li>Don't add large files to GIT</li>
						<li>File is named .gitignore and should be placed in the root folder</li>
					</ul>
				</section>
				<section>
					<h2>Gitignore</h2>
					<pre><code class="bash" data-trim data-noescape>
# .gitignore
.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
css/reveal.min.css
js/reveal.min.js
*.log
					</code></pre>
				</section>
				<section>
					<h2>Git Tags</h2>
					<pre><code class="bash" data-trim data-noescape>
# Create tag
git tag -a 0.1 -m "First release out of beta"
# Push the tags to the server
git push --tags
					</code></pre>
					<p><a href="https://gitlab.com/jonatanl/git-course/-/tags">tags</a></p>
				</section>
				<section>
					<h2>Squashing</h2>
					<pre><code class="bash" data-trim data-noescape>
# Squash the last 3 commits
git rebase -i HEAD~3
					</code></pre>
				</section>
				<section>
					<h2>Force pushing</h2>
					<p>Very dangerous command!</p>
					<p>Never force push to master!</p>
					<p><a href="https://gitlab.com/jonatanl/git-course/-/settings/repository">Protected branches</a></p>
				</section>
				<section>
					<h2>Force pushing</h2>
					<pre><code class="bash" data-trim data-noescape>
# Force push branch
git push -f
					</code></pre>
				</section>
				<section>
					<h2>git reset</h2>
					<pre><code class="bash" data-trim data-noescape>
# Reset changes from the last 2 commits but keep the changes
git reset HEAD~2
# Reset and discard all changes from the last 2 commits
git reset --hard HEAD~2
					</code></pre>
				</section>
				<section>
					<h2>Rebase</h2>
				</section>
				<section>
					<img data-src="images/rebase.svg">
					<p>
						<a href="https://www.atlassian.com/git/tutorials/rewriting-history/git-rebase">Image source</a>
					</p>
				</section>
				<section>
					<h2>Merging</h2>
					<img data-src="images/history-mess.png">
					<p><a href="https://blog.carbonfive.com/2017/08/28/always-squash-and-rebase-your-git-commits/">Image source</a></p>
				</section>
				<section>
					<h2>Rebase</h2>
					<img data-src="images/history-clean.png">
					<p><a href="https://blog.carbonfive.com/2017/08/28/always-squash-and-rebase-your-git-commits/">Image source</a></p>
				</section>
				<section>
					<h2>Cherry Picking</h2>
					<pre><code class="bash" data-trim data-noescape>
# Cherry pick usage
git cherry-pick "commit hash"
# E.g:
git cherry-pick 13941a1355eabd50e8388c0d22d08950df3eaa1a
					</code></pre>
				</section>
				<section>
					<h2>Git Blame</h2>
					<pre><code class="bash" data-trim data-noescape>
# List all the changes in a file per line
git blame index.html
					</code></pre>
					<p><a href="https://gitlab.com/jonatanl/git-course/blame/master/index.html">git blame index.html</a> on Gitlab</p>
				</section>
				<section>
				<h2>Git Stash</h2>
				<pre><code class="bash" data-trim data-noescape>
# Stash away changes
git stash
# Retrieve stash changes
git stash pop
				</code></pre>
				<p><a href="https://gitlab.com/jonatanl/git-course/blame/master/index.html">git blame index.html</a> on Gitlab</p>
			</section>
				<section>
					<h2>Git Cheat Sheet</h2>
					<ul>
						<li>git clone</li>
						<li>git add</li>
						<li>git commit</li>
						<li>git push</li>
						<li>git pull</li>
						<li>git merge</li>
						<li>git checkout</li>
						<li>git branch</li>
						<li>git reset</li>
					</ul>
				</section>
				<section>
					<h2>Tips and Tricks</h2>
					<ul>
						<li>Create protected branches</li>
						<li>Use your own branch as backup</li>
						<li>Commit often!</li>
						<li>git alias</li>
						<li>https://learngitbranching.js.org</li>
					</ul>
				</section>
			</div>
		</div>

		<script src="js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				history: true,
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true }
				]
			});
		</script>
	</body>
</html>
